// Colors 

$white: #fff;
$color-primary: #58e1c1;
$color-text:  #777;
$color-default: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;
$color-img-frame: #ccc;

// Media query breakpoints

$brk-narrow: 768px;

// Font Stacks

$stack-sans-serif: 'Lato', sans-serif;

